$primary-grey: #1F2631;
$white: #fff;
$white-smoke: #f8f8f8;
$dark-grey: #303b4b;
$primary-blue: #0978FC;
$secondary-blue: #5991FF;
$light-grey: #7F8797;
$light-blue: #F0F3F7;
$border-color: #d8d8d8;
$primary-red: #FF3366;
$primary-orange: #FFA179;
$primary-yellow: #FFD329;
$light-blue: #9AC5FF;
$light-green: #25E4B1;
$grey: #4e4e4e;
$error: #FF5777;
$primary-red: #FF7979;
$fade-grey: #b3b3b3;
$light-yellow: #F8FAFE;
$border-grey: #E5E5E5;
$footer-white: #FEFEFE;
$primary-green: #19E0A6;
$secondary-red: #E84537;
$font-medium: "Open Sans Medium";
$font-regular: "Open Sans";
$font-bold: "Open Sans Bold";
$light-steel:#2EBABF;